[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RCBR"]
	path = RCBR
	url = https://github.com/cran/RCBR
[submodule "REBayes"]
	path = REBayes
	url = https://github.com/cran/REBayes
[submodule "SparseM"]
	path = SparseM
	url = https://github.com/cran/SparseM
